@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Reading Events</h1>
    <h2>The Event has  @Enumerable.Count(Model) users.</h2>
</div>


<ul>
    
    @foreach (var user in Model) { 
        <li>@user.Email</li>
    }
    
</ul>
